PrescriptionFiller/bin
PrescriptionFiller/PrescriptionFiller.csproj
PrescriptionFiller.Android/bin
PrescriptionFiller.Android/obj
PrescriptionFiller.Android/PrescriptionFiller.Android.csproj.user
PrescriptionFiller.Android/PrescriptionFiller.Android
PrescriptionFiller.iOS/bin
PrescriptionFiller.iOS/obj
PrescriptionFiller.iOS/PrescriptionFiller.iOS
PrescriptionFiller.iOS/PrescriptionFiller.iOS.csproj.user
